body{
margin:0;
font-family:Arial;
background:#f3f3f3;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
}

.logo{
color:white;
font-size:22px;
font-weight:bold;
}

.menu a{
margin-left:20px;
text-decoration:none;
color:white;
}

.hero{
display:flex;
justify-content:space-around;
align-items:center;
padding:60px;
}

.name{
color:#00b3b3;
}

button{
background:#00b3b3;
color:white;
border:none;
padding:10px 20px;
}

.image img{
width:220px;
height:220px;
border-radius:50%;
object-fit:cover;
}
.education{
text-align:center;
padding:40px;
}

.edu-box{
background:white;
width:250px;
margin:15px auto;
padding:15px;
box-shadow:0 0 10px #ccc;
}

.projects{
text-align:center;
padding:40px;
}

.project-box{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
width:220px;
padding:10px;
box-shadow:0 0 10px #ccc;
}

.card img{
width:100%;
}

.footer{
background:black;
color:white;
text-align:center;
padding:15px;
}